:root{
    --primary-color: #ffffff;
    --secondary-color: #000;
    --gap: 3rem;
    --linkhover: #e01c1c;
}
@media screen and (max-width:850px) {
    .menu {
        bottom: 0;
        text-align: center;
      }
    
      .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
      }
    
      .menu-content {
        height: 100vh;
      }
    
      .menu {
        display: none;
        
      }    
      .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 3;
      }
    
      .close-menu:checked~.menu {
        display: block;
      }
    
      .close-menu:checked~.close-menu-label::after {
        content: '×';
        font-size: 8rem;
        margin-right: 2rem;
      }
    
      .menu-spacing {
        display: none;
      }
      .menu ul li a::after {
        content: '';
        position: absolute;
        bottom: 1.6rem;
        left: 50%;
        width: 0;
        height: 0.2rem;
        background: var(--linkhover);
        transition: all 300ms ease-in-out;
    }
    
    .menu ul li a:hover::after {
        width: 60%;
        left: 21%;
    }
    .menu .menu-heading {
        display: flex;
        left: 0px;
    }
    .header {
        position: relative;
        top: 50px;
        margin: 30px 10px 50px 10px;
    }
    .close-menu {
        display: none;
    }
    .item embed{
      width: 100%;
      height: 290px;
  }
}