*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #000;
    --gap: 3rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    
}
h2{
    font-size: 5rem;
    text-transform: uppercase;
}
h3{
    font-size: 4rem;
    text-transform: uppercase;
}
h4{
    font-size: 3rem;
    text-transform: uppercase;
}
h5{
    font-size: 2rem;
    text-transform: uppercase;
}
h6{
    font-size: 1rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: unset;
}
.lsportfolio{
    margin: 10px 40px;
}
.lsportfolio a{
    color: unset;
    text-decoration: none;
}
.header{
    text-align: center;
    position: relative;
    top: 140px;
    height: 300px;
}
.menu{
    display: flex;
    position: fixed;
    background-color: rgba(32, 37, 32, 0.808);
    width: 100%;
    justify-content: space-between;
    right: 0;
    top: 0;
    z-index: 2;
}
.menu-modulos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
.menu h3{
    margin: 10px 10px 0 0;
    font-size: 35px;
}
.container-m1{
    width: 100%;
    margin-left: 15px;
}
.item embed{
    width: 100%;
    height: 500px;
}
.item{
    margin: 10px;
}
.carrosel-filmes{
    margin: 10px;
}
.carrosel-filmes h2{
    margin: 0 15px;
    line-height: 35px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.footer{
    text-align: center;
    font-size: 0.8rem;
    background-color: white;
}
.footer a{
    color: var(--secondary-color);
    text-decoration: none;
}
.footer p{
    margin: 0;
    padding: 3rem;
}
.footer img{
    width: 1rem;
}
.footer a:visited {
    color: #888;
}
.footer a:link {
    color: #666;
}
@media screen and (max-width:600px) {
    header .container{
        display: flex;
        flex-direction: column;
        margin: 5px auto;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
    }
    .filme-principal{
        background-position: right 0px;

    }
}